* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    
    transition: 0.3s ease;
}
img{
    animation: upx forwards alternate 1s ease;
}
:root {
    --accent-color: #f83030;
}
.light{
    color: #000;
    background: #fff;
    --c:#000;
    --b:#fff;
}
.dark{
    --c:#fff;
    --b:#000;
    color: #fff;
    background: #000;
}
a {
    text-decoration: none;
}

body {
    background: #fff;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    min-height: 100vh;
}

/* Headings */
h1 {
    font-size: 50px;
}


.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* Images */
img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Buttons */
.btn {
    border: none;
    outline: none;
    background: var(--accent-color);
    color: #fff;
    font-size: 20px;
    padding: 7px 30px;
    cursor: pointer;
    
}

.btn:hover {
    opacity: 0.9;
    transform: translateY(-5px);
}

.eta{
    border-radius: 50px;
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
    color: #000;
    outline: none;
}
.btnz{
    border-radius: 50%;
    border: 1px solid #000000;
    background: transparent;
    color: #000;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;

}
.btnz:hover{
    color: #fff;
    background: #000;

}
.eta:hover::after{
    width: 0%;
}
.eta:hover{
    background: #000;
    color: #fff;
}
.centent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    animation: leftx forwards alternate 1.5s ease;
}
header{
    width: 90vw;
    border: var(--c) 1px solid;
    position: fixed;
    margin-block: 10px;
    justify-self: center;
    display: flex;
    padding: 15px 12px;
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    background: #ffffff96;
    backdrop-filter: blur(10px);
    animation: leftx alternate forwards 3s ease ;
    transition: 0.5s ease ;
}
header span{
    font-size: 25px;
    color: #000;
}
header nav{
    display: flex;
    gap: 20px;
}
header nav a{
    color:#000;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav a::after,.ul:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-out;
  }
  
header nav a:hover::after {
    width: 100%;
  }

.mb,.mbx{
    outline: none;
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    display: none;
}
@keyframes upx {
    0%,50%{
        transform: translateY(1000vh);
    }
    100%{
        transform: translateY(0vh);
    }
}

::selection{
    background: var(--accent-color);
    color: #ffffff;
}
.container-projects{border: 1px black solid;width: 90vw;justify-self: center;}
.r{
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
}
.card{
    margin: 10px;
    height: 200px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    justify-content: space-around;
    width: fit-content;
    padding: 13px 20px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.1) 0px 8px 12px;
    color: #000;
}
.title{
    font-size: 25px;
}
.mark{
    padding: 0px 9px;
    height: 26px;
    border-radius: 3px;
}
.green{
    background: #b7fda5;
    color: #37502f;
    border: 1px #65cc36 solid;
}
.red{
    background: #fda5a5;
    color: #523131;
    border: 1px #cc3636 solid;
}
.yellow{
    background: #fde5a5;
    color: #524d31;
    border: 1px #ccb636 solid;
}
.container-projects .btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div{
    gap: 3px;
    display: flex;
}
.ico{
    width: 15px;height: 15px;
}
.container-sub{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-self: center;
    

}
.sup-card span{
    display: flex;
    gap: 5px;
    align-items: center;
}
.sup-card{
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 2px;
    border: 1px solid var(--c);
    padding: 7px 50px;
    box-shadow: rgba(var(--c),0.1) 0px 8px 12px;
    min-width: 30vw;
    max-width:80vw;
    margin: 10px;
}
@keyframes downx {
    0%,50%{
        transform: translateY(-1000vh);
    }
    100%{
        transform: translateY(0vh);
    }
}
@keyframes rightx{
    0%,50%{
        transform: translateX(1000vh);
    }
    100%{
        transform: translateX(0vh);
    }
}
@keyframes leftx{
    0%,50%{
        transform: translateX(-1000vh);
    }
    100%{
        transform: translateX(0vh);
    }
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #ddd;
}
::-webkit-scrollbar-thumb{
    background: var(--accent-color);
}


@media (max-width: 1300px) {
    .main img ,.cont img{
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
        object-fit: cover;
        z-index: -1;
    }

    h1 {
        font-size: 36px;
    }

    .btn {
        font-size: 18px;
        padding: 6px 20px;
    }

    .centent {
        gap: 15px;
    }
    header span{
        font-size: 20px;
    }
    header nav{
        display: none;
    }
    header .mb{
        display: flex;
    }
    .card{
        width: 90%;
    }
}


.hidden{

    transform: translateX(-100%);


    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
.show{
    transform: translateX(0);

    opacity: 1;

    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.burger{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: column;
    gap: 0px;
}
.burger nav{
    display: flex;
    flex-direction: column;
}
.burger a:hover{
    background: var(--c);
    color: var(--b);
}
.burger a:hover::after{
    width: 0%;
}
.burger .eta,.burger .btnz{
    width: 100vw;
    border-radius: 0px;
}
.burger a{
    width: 100vw;
    border: 1px #000 solid;
}
.burger .tr{
    display: none;
}

.burger .mbx{
    display: flex;
}
.cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.conta{
    border: 1px solid var(--c);
    height: auto;
    padding: 13px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 20vw;
    background: var(--b);


}
.buto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;

}
.ins{
    color: #ffffff;
    background: linear-gradient(45deg,#ffa239,#b15dff);
}
.tik{
    background: #552a55;
    color: #ffffff;
}
.fac{
    background: #1a5eff;
    color: #fff;
}
.wat{
    background: rgb(57, 255, 57);
    color: rgb(255, 255, 255);
}
.wat:hover{
    box-shadow: rgba(57, 255, 57,0.3) 8px 8px 8px;
}
.fac:hover{
    box-shadow: rgba(93, 104, 255, 0.3) 8px 8px 8px;
}
.ins:hover{
    box-shadow: #ffaf1a49 8px 8px 8px;
}
.tik:hover{
    box-shadow: #b15dff34 8px 8px 8px;
}
.buto:hover{
    transform: translateY(-5px);
}






@media (max-width:768px){
    .container-sub{
        justify-content: center;
    }
    .conta{
        width: 90vw;
    }
}